#footer {
    background: #4683a0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
}

.footer-content {
    color: white;
    font-size: 24px;
    margin: 10px;
    font-family: sans-serif;
}