.header-background {
    display: flex;
    justify-content: center;
    padding: 1em;
  }

  .header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 7vh;
    width: 73.8vw;
    padding: 1em;
  }

  #header-logo {
    font-size: 25px;
    font-weight: bold;
    color: #F9FAF8;
    margin-left: 11.7vw;
  }

  ul {
    list-style-type: none;
    display: flex;
    gap: 25px;
    margin-right: 11.5vw;
    color: white;
    font-size: 17px;
  }

  a {
    text-decoration: none;
    color: #F9FAF8;
  }

  ::-webkit-scrollbar-thumb {
    background: #ffd700;
  }

  ::-webkit-scrollbar-track {
    background-color: black;
  }