p {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
    margin: 0;
    display: flex;
    flex-direction: column;
  }

  .section.one {
    background: #1F2937;
    box-sizing: border-box;
  }
  
  .content-wrap { /* Centralizes content */
    margin: 0 auto;
    height: 44.8vh;
    width: 73.8vw;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
  }
  
  .text-wrap {
    box-sizing: border-box;
    height: 30vh;
    width: 25vw;
    padding: 5px;
  }

  .text-wrap p {
    text-align: left;
  }
  
  .hero-main-text {
    font-size: 48px;
    font-weight: bold;
    color: #F9FAF8;
    margin: 0;
  }
  
  .hero-secondary-text {
    font-size: 18px;
    color: #E5E7EB;
    margin: 0;
  }
  
  .hero.sign-up {
    background: #3882F6;
    border-radius: 8px;
    border: none;
    color: white;
    box-sizing: border-box;
    margin-top: 10px;
    height: 4.1vh;
    width: 6.5vw;
    font-family: sans-serif;
  }
  
  .image-placeholder {
    display: flex;
    justify-content: center;
    align-items: center;
    background: darkgray;
    box-sizing: border-box;
    height: 288px;
    width: 480px;
  }
