.section.three {
    background: #E5E7EB;
    display: flex;
    justify-content: center;
    align-items: center;
}

.section3-container {
    box-sizing: border-box;
    height: auto;
    width: 900px;
    margin: 100px;
}

.quote-container p {
    text-align: left;
}

.quote {
    font-size: 36px;
    font-weight: light;
    font-style: italic;
}

.quote-owner {
    display: flex;
    justify-content: flex-end;
    margin-right: 20px;
    font-weight: bold;
    font-size: 20px;
    line-height: 0px;
    height: 50px;
    width: auto;
}